*.zip
*.jar
fixtures/__pycache__
FitNesseRoot/RecentChanges
FitNesseRoot/ErrorLogs
FitNesseRoot/files
FitNesseRoot/updateDoNotCopyOverList
FitNesseRoot/updateList
FitNesseRoot/FitNesse
FitNesseRoot/properties